#main-container {
    height: 100px;
    width: 100vw;
    margin: auto;
   

}

.content {
    height: 75px;
    width: 100vw;
    background-color: #21c55e;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    


}

.links {
    color: white;
    
    
}