
<div class="main-container">

    <div class="card-container">
        <p-card>
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="newGoal()"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelectedGoals()" [disabled]="!selectedGoals || !selectedGoals.length"></button>
                </ng-template>
        
                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>
            </p-toolbar>
        
            <p-table #dt [value]="goals" dataKey="id" responsiveLayout="scroll">
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Manage Goals</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')" placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem"></th>
                        <th pSortableColumn="name">
                            <div class="flex justify-content-center align-items-center">

                                Name <p-sortIcon field="name"></p-sortIcon>
                            </div>
                        </th>
                        
                        <th pSortableColumn="targetDate">
                            <div class="flex justify-content-center align-items-center">Target Date <p-sortIcon field="targetDate"></p-sortIcon></div>
                        </th>
                        <th pSortableColumn="targetAmount"><div class="flex justify-content-center align-items-center">Target Amount <p-sortIcon field="targetAmount"></p-sortIcon></div>
                        </th>
                        <th pSortableColumn="currentAmount"><div class="flex justify-content-center align-items-center">Current Amount <p-sortIcon field="currentAmount"></p-sortIcon></div>
                        </th>
                        <th pSortableColumn="status"><div class="flex justify-content-center align-items-center">Status <p-sortIcon field="status"></p-sortIcon></div>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-goal let-expanded="expanded">
                    <tr>
                        <td>
                            <button type="button" pButton pRipple [pRowToggler]="goal" class="p-button-text p-button-rounded p-button-plain" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                        </td>
                        <td><div class="flex justify-content-center align-items-center">{{goal.name}}</div></td>
                        <td><div class="flex justify-content-center align-items-center">{{goal.targetDate | date: 'mediumDate'}}</div></td>
                        <td><div class="flex justify-content-center align-items-center">{{goal.targetAmount | currency: 'USD'}}</div></td>
                        <td><div class="flex justify-content-center align-items-center">{{goal.currentAmount | currency: 'USD'}}</div></td>
                        <td><span [class]="'goal-badge status-' + goal.status.toLowerCase()" class="flex justify-content-center align-items-center">{{goal.status}}</span></td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="rowexpansion" let-goal>
                    <!-- <tr>
                        <th>
                            <div class="flex justify-content-center align-items-center">Image</div>
                        </th>
                        
                        <th>
                            <div class="flex justify-content-center align-items-center">Description <p-sortIcon field="targetDate"></p-sortIcon></div>
                        </th>
                    </tr> -->
                    <tr>
                        <td><div>
                            <div class="flex justify-content-center align-items-center">
                                <img [src]="'assets/' + goal.imagePath" [alt]="goal.name" width="100" class="shadow-4" /></div>
                        </div></td>
                        <td><div class="flex justify-content-center align-items-center">
                            {{goal.description}}
                        </div></td>
                    </tr>
                </ng-template>
            </p-table>
        </p-card>
    </div>

</div>